html,body{
  /*blue background*/
  background-color:#a0c1d1;
  font-family:'Pontano Sans';
  overflow:hidden;
  height:100%;
}
/*position on screen*/
.cover{
  position:absolute;
  height:100%;
  width:100%;
}
/*set font size*/
p{
  font-size:1em;
}
.cover .container{
  vertical-align:middle;
  margin-top:10%;
}
/*customize submit button*/
.btn{
  font-family:'Pontano Sans';
  font-size:1em;
  font-weight: normal;
}
