<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- <meta name="description" content="Cindy Zhang's personal website.">
    <meta name="keywords" content="cindy zhang, san mateo high school, student, intern, harvard">
    <link rel="canonical" href="https://cindyz8735.github.io/personal"> -->
    <title>Cindy Zhang</title>
    <link rel="stylesheet prefetch" href="../static/bootstrap.css">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,600">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Pontano+Sans:400,600">
    <link rel="stylesheet prefetch" href="../static/style.css">
    <script>head.load('https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js','https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js','../static/main.js')</script>
  </head>
  <body>
    <div id="home" class="cover">
      <div class="container text-center">
        <!-- <div class="member"><img src="cindy.png" class="img-responsive img-circle"> -->
          <!-- img.img-responsive.img-circle(src='alt-pic.jpg')-->
          <p>YouTube to MP3 Converter</p>
          <br>
          <form id="form">
              <div class="form-group">
                  <label class="sr-only" for="q">playlistUrl</label>
                  <input class="form-control" id="q" placeholder="Link to YouTube playlist" type="text"/>
              </div>
          </form>

          <br>
          <br>

          <form action="/index" method="post">
            <div class="form-group">
              <input autocomplete="off" autofocus class="form-control" name="link" placeholder="Playlist URL" type="text"/><br>
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
          </form>

          <!-- <p>Harvard University</p> -->
          <!-- <div class="social"><a href="https://linkedin.com/in/cindyhzhang" target="_blank"><i class="fa fa-linkedin"></i></a><a href="https://facebook.com/czhang99" target="_blank"><i class="fa fa-facebook-official"></i></a><a href="https://github.com/cindyz8735" target="_blank"><i class="fa fa-github"></i></a></div> -->
        </div>
      </div>
    </div>
    <!-- <nav data-spy="affix" class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header"><a href="#" class="navbar-brand">Cindy Zhang</a>
        <button data-toggle="collapse" data-target="#collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div id="collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="about.html">About</a></li> -->
          <!-- li: a(href='#photos') Photography-->
          <!-- <li><a href="writing.html">Writing</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </nav> -->
  </body>
</html>
