<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>YouTube to MP3</title>
    <link rel="stylesheet prefetch" href="../static/bootstrap.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Pontano+Sans:400,600">
    <link rel="stylesheet prefetch" href="../static/style.css">
    <script>head.load('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js','../static/main.js')</script>
  </head>
  <body>
    <div class="cover">
      <div class="container text-center">
          <form action="/hello" method="post">
            <div class="form-group form-inline" style="align:center">
              <!-- link to the playlist url -->
              <input autocomplete="off" autofocus class="form-control" name="link" placeholder="Playlist URL" type="text" style="width:70%"/><br><br>
              <!-- mp3 or mp4 download format -->
              <input type="radio" name="format" value="mp3" checked/> &nbsp; MP3 &nbsp; &nbsp;
              <input type="radio" name="format" value="mp4"/> &nbsp; MP4<br><br>
              <p>To download all videos in the playlist, leave the following fields blank.</p>
              <!-- video numbers for the first and last songs to download (all in between will be downloaded) -->
              <input autocomplete="off" autofocus class="form-control" type="text" name="start" placeholder="0"/> &nbsp; Starting Video &nbsp;
              <input autocomplete="off" autofocus class="form-control" type="text" name="end" placeholder="25"/> &nbsp; Ending Video <br><br>
            </div>
            <button class="btn btn-default" type="submit">Submit</button>
          </form>

        </div>
      </div>
  </body>
</html>
